body{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/collection/595970');
  style="overflow-y: scroll" height="1000px";
  	text-shadow: 0 0 4px #360;
}

.head{
  width: 100%
  float:none;
}

.center-page{
  text-align: center;
  margin-top: 1000px;
  color: white;
}

.Arrow{
  text-align: center;
  margin-top: -316px;
}

.logo{
     position: absolute;
     top: 50%;
     left: 50%;
     width: 500px;
     height: 500px;
     margin-top: -250px; /* Half the height */
     margin-left: -250px; /* Half the width */
}

.langs{
  text-align: center;
  margin-top: -100px;
}
